venv
*.pyc
staticfiles
db.sqlite3
*.csv
*.db
.vscode
# Elastic Beanstalk Files
.elasticbeanstalk/*
.elasticbeanstalk/*.cfg.yml
.elasticbeanstalk/*.global.yml
.ebextensions/*
!metastock_all_data_real.csv